.reviews-container {
  width: 1300px;
  margin: 1%;
  height: 216px;
  box-sizing: border-box;
  background: #ffffff;
  border: 2px solid #dddd;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.all-review {
  margin: 2%;
}

.all-review h6 {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.727);
}
