.main-category {
    display: flex;
}

.all-container {
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10em;
    margin-left: 12em;
}


.list-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4em;
}

.filters-container {
    width: 320px;
    background-color: #eee;
    border-right: 2px solid #ddd;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    gap: 3em;
}

.price-container, .alphabetic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-container input::-webkit-inner-spin-button, .input-container input::-webkit-outer-spin-button {
    margin: 0;
    display: none;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputs {
    width: 120px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 3px;
}

.inputs:focus{
    outline: none;
}

.button-price {
    border: 1px solid #000;
    background-color: #FF9F1C;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    border-radius: 3em;
}

.button-price:hover {
    background-color: #e9941d;
}

.label {
    font-size:px;
}


.buttons-filter {
    border: 1px solid #000;
    background-color: #FF9F1C;
    margin: 6px;
    padding: 8px;
    border-radius: 2em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;   
}

.buttons-filter:hover {
    background-color: #e9941d;
}