.paginate-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}

.pages-list {
    display: flex;
    list-style: none;
    gap: 2em;
}


.pages, .page-active {
    background-color: #fff;
    padding: 6px 12px;
    border-radius: 5px;
    border: 1px solid #ddd;
    color: #000;
    cursor: pointer;
}

.page-active {
    background-color: #2ca1c4;
}
