.container-Sale {
  width: 100%;
  max-width: 100%;
  height: 100%;
  background-image: url("https://images3.alphacoders.com/559/thumb-1920-559115.png");
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container-Sale h3 {
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 50px;
}

.btn-outline-success {
  position: absolute;
  right: 15%;
  top: 0%;
}

.Product-active {
  width: 61.9vw;
  height: 52vh;
  /* position: absolute;
  top: 61%;
  left: 50%;
  transform: translate(-50%, -50%); */
  border-radius: 10px;
  padding: 20px;
  backdrop-filter: blur(900px);
  -webkit-backdrop-filter: blur(15px);
  margin: 1%;
}

.Product-inactive {
  width: 82vw;
  height: 52vh;
  /* position: absolute;
  top: 61%;
  left: 50%;
  transform: translate(-50%, -50%); */
  border-radius: 10px;
  padding: 20px;
  backdrop-filter: blur(10000px);
  -webkit-backdrop-filter: blur(15px);
  margin: 1%;
}

.About p {
  font-family: Work Sans;
  font-size: 20px;
  font-size: 25px;
  color: #fff;
}
