.publicidad {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.carousel {
  overflow: hidden;
  height: 400px;
}

.carousel-image {
  position: absolute;
  opacity: 0;
  transition: opacity 0.9s ease-in-out;
}

.carousel-image.active {
  opacity: 1;
}
