.Dashboard {
  display: flex;
  min-height: 100%;
}
/*////////*/

.Dashboard h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 50px;
  margin-top: 9%;
}

.allChart {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  background-color: rgb(249, 250, 251);
  margin-top: 0%;
}

.chartColumn {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.Chart-torta {
  width: 40%;
  background-color: rgb(255, 255, 255);
  padding: 50px;
  box-shadow: rgba(145, 158, 171, 0.2) 0px 0px 2px 0px,
    rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
  border-radius: 12px;
  text-align: center;
  margin: 1%;
}

.Chart-torta:hover {
  border: 2px solid rgb(230, 230, 236);
}

.chart-line {
  width: 45%;
  height: 50vh;
  margin-left: 3%;
  /* margin: 1.5%; */
  background-color: rgb(255, 255, 255);
  padding: 50px;
  box-shadow: rgba(145, 158, 171, 0.2) 0px 0px 2px 0px,
    rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
  border-radius: 12px;
  /* margin: 1%; */
  background-image: none;

  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.chart-line:hover {
  border: 2px solid rgb(230, 230, 236);
}

.chart-barra {
  width: 45%;
  height: 50vh;
  background-color: rgb(255, 255, 255);
  padding: 50px;
  box-shadow: rgba(145, 158, 171, 0.2) 0px 0px 2px 0px,
    rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
  border-radius: 12px;
  margin-left: 3%;
  /* margin-bottom: 2%; */
}

.chart-barra:hover {
  border: 2px solid rgb(230, 230, 236);
}

.tarjetitas {
  width: 17vw;
  height: 33vh;
  /* box-shadow: rgba(145, 158, 171, 0.2) 0px 0px 2px 0px,
    rgba(145, 158, 171, 0.12) 0px 12px 24px -4px; */
  border-radius: 12px;
  border-radius: 10px;
  border: 0.1px solid rgb(241, 241, 249);
  background-color: rgb(208, 242, 255);
  margin: 13px;
}

.tarjetitas:hover {
  border: 2px solid rgb(230, 230, 236);
}

.alltarjetitas {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
