.tuki_chat {
  position: fixed;
  bottom: 10px;
  right: 0;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: #ff9f1c;
  color: #fff;
  margin-right: 15px;
  z-index: 200;
}

.bubble_chat {
  width: 162px;
  position: fixed;
  bottom: -17px;
  right: -22px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  margin-right: 15px;
  z-index: 200;
}

.chat_with {
  height: 150px;
  position: fixed;
  bottom: -10px;
  right: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  margin-right: 15px;
  text-align: center;
  z-index: 200;
}
