.tuki_chat{
    position: fixed;
    bottom: 5px;
    right: 0;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #ff9f1c;
    color: #fff;
    margin-right: 15px;
    
}