.container {
    height: 150vh;
    background: linear-gradient(243.18deg, #FF8300 0%, #FFD688 100%);
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
  
.div{
    background: #003049;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: 1px solid black;
    width: 49vw;
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius:40px;
}
.divForm{
    width: 100%;
}

.inputMail{
    top: 50px;
    font-family: 'Judson';
    margin-top: 15px;
    box-sizing: border-box;
    width: 373px;
    height: 48px;
    background-color: #003049;
    position: relative;
    border: 1px solid #0A9396;
    border-radius: 5px;
}

.options {
    color: white;
    text-align: center;
}

.buttonHome{
    background-color: #FF9F1C;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    border-radius: 4vw;
    margin-left: 1vw;
    width: 20vw;
    height: 41px;
    transition: 0.5s;
    color: #efe9e9;
    margin: 0.5vw;
}
.buttonHome:hover{
    background-color: #c97c10;
}

.divAlreadyRegister{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.link{
    text-decoration: none;
    color: #efe9e9;
}

.register {
    position: absolute;
    text-align: center;
    font-family: 'Judson';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.divAlreadyRegister{
    margin-top: 10px;
}